.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login__header {
    font-family: $font-alt;
    font-size: 4rem;
    color: $header-dark-color;
    margin-top: 12rem;
  }
  .login__decoration {
    margin-top: 3.9rem;
  }
  .login__form {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    background-color: #F0F1F1;
    padding: 4rem 9rem 1rem 9rem;
    position: relative;

    .login__label {
      font-size: 1.6rem;
      color: $header-dark-color;
      font-family: $font-alt;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .login__input {
      width: 25rem;
      border: none;
      border-bottom: 1px solid $header-dark-color;
      margin-bottom: 3rem;
      background-color: #F0F1F1;
      padding: 1rem;
      font-size: 1.6rem;
      color: $header-dark-color;

      &:focus {
        outline: none;
      }
    }
  }
  .login__buttons {
    display: flex;
    padding: 4rem;
    position: absolute;
    bottom: 45rem;
    left: 80rem;

    &:nth-child(2) {
      border: 0.75px solid $header-dark-color;
    }

    .login__left-btn {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.8rem;
      background-color: #fff;
      border: none;
      padding: 1.3rem;
      margin-inline: 15rem;
      width: 12rem;
      height: 5rem;
    }
    .login__right-btn {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.8rem;
      background-color: #fff;
      border: 0.75px solid $header-dark-color;
      padding: 1.3rem;
      margin-inline: 15rem;
      width: 12.2rem;
      height: 5rem;
    }
  }
  .register__buttons {
    display: flex;
    padding: 4rem;
    position: absolute;
    top: 35rem;
    left: -25rem;

    &:nth-child(2) {
      border: 0.75px solid $header-dark-color;
    }

    .register__left-btn {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.8rem;
      background-color: #fff;
      border: none;
      padding: 1.3rem;
      margin-inline: 15rem;
      width: 12rem;
      height: 5rem;
    }
    .register__right-btn {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.8rem;
      background-color: #fff;
      border: 0.75px solid $header-dark-color;
      padding: 1.3rem;
      margin-inline: 15rem;
      width: 12.2rem;
      height: 5rem;
    }
  }
}